.custom-container {
  /* Add styles for the container div */
  min-height : 100px;
  max-height: 400px;
  background-color : black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-container h1{
  margin-bottom: 20px;
  margin-top: 20px;
}
.listContinueWatching{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.listStyle{
  width: 200px;
  height: 300px;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.adding-btn{
  width: 25px;
  height: 25px;
  background-color: blue;
  cursor: pointer;
}
.adding-btn.watching{
  background-color: green;
}
.imgContainer{
  width: 200px;
  height: 250px;
}
.coverImage{
  width: 200px;
  height: 250px;
  transition: transform 0.3s ease;
}
.coverImage:hover {
  transform: scale(1.05, 1.05);
}

.secondDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}